<div>
  <%= flash[:notice] %>
</div>

<%= render 'books/list', user: @user, book: @list %>

<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>

     <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->

<h2>Books</h2>
<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <%= link_to book_path(book.id) do %>
  <%= book.title %>
  <% end %>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>