<%= flash[:notice] %>

<div>
<h2>Book detail</h2>

  <%= link_to controller: 'users', action: 'show' do %>
  <%= image_tag @book.user.get_profile_image(100,100) %>
  <%= @book.user.name %>
   <% end %>
   
  <%= link_to  do %>
  <%= @book.title %>
  <% end %>
  
  <%= @book.body %>
    <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Destroy", book_path(@book.id), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger destroy_book_36606" %>
  <% end %>
</div>